<div class="d-flex view-wrapper">
  <form class="form-single">
    <md-input-container md-no-float class="md-block">
        <label>Post Title</label>
         <input ng-model="post.title">
    </md-input-container>

    <ng-quill-editor ng-model="post.content" class="post-wysiwyg">
    {#<ng-quill-toolbar>
        <div>
            <span class="ql-formats">
                <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-align" ng-attr-title="{{'Aligment'}}">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                </select>
                <select class="ql-align">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                </select>
            </span>
        </div>
    </ng-quill-toolbar>#}
</ng-quill-editor>

    <button ng-if="post_id" ng-click="post.update()" name="button">Update</button>
    <button ng-if="!post_id" ng-click="post.create()" name="button">Create</button>
  </form>
</div>
