<section class="dashboard view-wrapper">
  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <div class="dashboard__card">
          <div class="card-body">
            <span class="dashboard__card__number color-blue">{{activeUsers}}</span>
            <span>Active Users</span>
          </div>
          <div class="dashboard__card__border background-blue"></div>
        </div>
      </div>
      <div class="col">
        <div class="dashboard__card">
          <div class="card-body">
            <span class="dashboard__card__number color-red">{{postsLength}}</span>
            <span>Total Posts</span>
          </div>
          <div class="dashboard__card__border background-red"></div>
        </div>
      </div>

      <div class="col">
        <div class="dashboard__card">
          <div class="card-body">
            <span class="dashboard__card__number color-green">0</span>
            <span>Total Pages</span>
          </div>
          <div class="dashboard__card__border background-green"></div>
        </div>
      </div>

      <div class="col">
        <div class="dashboard__card">
          <div class="card-body">
            <span class="dashboard__card__number color-yellow">{{usersLength}}</span>
            <span>Total Users</span>
          </div>
          <div class="dashboard__card__border background-yellow"></div>
        </div>
      </div>

    </div>

  </div>
</section>
