.user-list {
    display: flex;
    flex-wrap: wrap;
    // margin: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    &__item {
        @include make-col(6);
        padding: 10px;
        .block-element {
            display: flex;
        }
    }
}

.image-block {
    padding: 0 5px;
    img {
        border-radius: 50%;
    }
}