<div class="logo">
    <a href="/admin/dashboard">MINIMO</a>
</div>
<ul class="navigation__list">
    <li class="navigation__list__item">
        <a class="tab" href="" ui-sref="dashboard" ui-sref-active="is--open"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li class="navigation__list__item">
        <a class="tab" href="" ui-sref="userslist" ui-sref-active="is--open"><i class="fa fa-users" aria-hidden="true"></i>Users</a>
    </li>
    <li class="navigation__list__item">
        <a class="tab" href="" ui-sref="postlist" ui-sref-active="is--open"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Posts</a>
    </li>
    <!--<li class="navigation__list__item">
        <a class="tab" href=""><i class="fa fa-file-text-o" aria-hidden="true"></i>Pages</a>
    </li>-->
    <li class="navigation__list__item">
        <a class="tab" href="" ui-sref="chat" ui-sref-active="is--open"><i class="fa fa-comments-o" aria-hidden="true"></i>Chat</a>
    </li>
    <!--<li class="navigation__list__item">
        <a class="tab" href=""><i class="fa fa-folder-open" aria-hidden="true"></i>Media</a>
    </li>
    <li class="navigation__list__item">
        <a class="tab" href=""><i class="fa fa-compass" aria-hidden="true"></i>Menu</a>
    </li>-->
    <li class="navigation__list__item">
        <a class="tab" href="" ui-sref="settings" ui-sref-active="is--open"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a>
    </li>
</ul>