/* styles in src/style directory are applied to the whole page */

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../node_modules/angular-material/angular-material.css';
@import '../../node_modules/quill/dist/quill.snow.css';
@import '../../node_modules/angular-toastr/dist/angular-toastr.css';
@import './variables';
//components
@import "../components/heading/heading";
@import "../components/navigation/navigation";
@import '../views/main/login/login';
@import "../views/dashboard/style";
@import "../views/chat/chat";
@import "../views/settings/index";
@import "../views/users/index";
@import "../views/posts/index";
// POST
body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Lato', sans-serif;
    background-color: $backgroud;
}

* {
    box-sizing: border-box!important;
}

button,
a {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.none {
    display: none!important;
}

input {
    &:focus {
        outline: none;
    }
}

.main {
    width: 100%;
    min-height: calc(100vh - 55px);
    overflow-y: auto;
    height: 100%;
    // padding: 20px 30px;
    ui-view {
        width: 100%;
    }
    .view {
        // height: 100%;
    }
}

.heading {
    width: 100%;
}

.view-wrapper {
    padding: 30px 30px 0 30px;
}

.wrapper {
    // height: 100%;
    display: flex;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
}

.is--login {
    background-color: $blue;
    .ui-view {
        width: 100%;
    }
}

.ui-view {
    position: relative;
    // top: 0;
    // min-height: calc(100% - 55px);
    // width: calc(100% - 220px);
    // float: right;
    // margin-top: 55px;
}

.main-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100vh - 55px);
    left: 0;
    top: 55px;
    display: flex;
}

.is--login .main-wrapper {
    top: 0;
    height: 100vh;
}

.ui-view.ng-enter {
    transition: 0.4s all;
    opacity: 0;
    top: 20px;
}

.ui-view.ng-enter-active {
    // transition: 0.4s all;
    opacity: 1;
    top: 0px;
    // top: 0;
}

md-sidenav {
    position: fixed;
}

.md-sidenav-right {
    top: 55px;
}

.toast-top-right {
    top: 65px!important;
}

//chat
.chat-search {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #34323a;
    i {
        position: absolute;
        left: 12px;
        bottom: 14px;
        color: #333;
        font-size: 17px;
    }
    input {
        width: 100%;
        color: #333;
        border: 0;
        height: 40px;
        background-color: #e6e6e6;
        padding-left: 40px;
    }
}

.block-element {
    background-color: #fff;
    padding: 10px;
}

.background-blue {
    background-color: $darkblue;
}

.background-red {
    background-color: $red;
}

.background-yellow {
    background-color: $yellow;
}

.background-green {
    background-color: $green;
}

// .chipsdemoContactChips md-content.autocomplete {
//     min-height: 250px;
// }
// .chipsdemoContactChips md-content.autocomplete input {
//     min-width: 400px;
// }
// .chipsdemoContactChips .md-item-text.compact {
//     padding-top: 8px;
//     padding-bottom: 8px;
// }
// .chipsdemoContactChips .contact-item {
//     box-sizing: border-box;
// }
// .chipsdemoContactChips .contact-item.selected {
//     opacity: 0.5;
// }
// .chipsdemoContactChips .contact-item.selected h3 {
//     opacity: 0.5;
// }
// .chipsdemoContactChips .contact-item .md-list-item-text {
//     padding: 14px 0;
//     max-width: 190px;
// }
// .chipsdemoContactChips .contact-item .md-list-item-text h3 {
//     margin: 0 !important;
//     padding: 0;
//     line-height: 1.2em !important;
// }
// .chipsdemoContactChips .contact-item .md-list-item-text h3,
// .chipsdemoContactChips .contact-item .md-list-item-text p {
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }
// @media (min-width: 960px) {
//     .chipsdemoContactChips .contact-item {
//         float: left;
//         width: 33%;
//     }
// }
// .chipsdemoContactChips md-contact-chips {
//     margin-bottom: 10px;
// }
// .chipsdemoContactChips .md-chips {
//     padding: 5px 0 8px;
// }
// .chipsdemoContactChips .fixedRows {
//     height: 250px;
//     overflow: hidden;
// }