$blue: #3498db;
// $darkgray: #34323a;
$gray: #6a6c6f;
$backgroud: #edf0f5;
$white: #fff;
$black: #333;
$red: #e64a19;
$green: #4caf50;
$yellow: #ffa000;
$darkblue: #3f51b5;
$raleway: 'Raleway',
sans-serif;