<div class="d-flex view-wrapper" ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom class="settings-container">
        <md-tab label="General Settings">
            <md-list>
                <md-list-item>
                    <md-input-container md-no-float class="md-block">
                        <label for="">Page Title</label>
                        <input ng-model="page.title">
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container md-no-float class="md-block">
                        <label for="">Page Description</label>
                        <input ng-model="page.description" md-maxlength="155">
                    </md-input-container>
                </md-list-item>

                <md-divider></md-divider>
            </md-list>
        </md-tab>
        <md-tab label="Posts Settings">
            <md-list>
                <md-list-item ng-repeat="topping in toppings">
                    <p> {{ topping.name }} </p>
                    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tabs>
</div>