.header {
    background-color: #3f51b5;
    color: #fff;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.header-container {
    // height: 100%;
}

.header-icons {
    height: 100%;
    float: right;
    margin-right: 25px;
    button {
        width: 40px;
        height: 40px;
        min-width: 40px;
    }
}

.user-thumb {
    i {
        font-size: 24px;
    }
}